button {
  width: 7.5rem;
}

@media (min-width: 792px) {
  .mb-sm-1 {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 0) and (max-width: 791px) {
  .mb-sm-1 {
    margin-bottom: 0.25rem !important;
  }
}
